# MySQL Client configuration file.

[mysql]
[mysqld]
server-id = 1
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=UTF8MB4
ssl-ca=/etc/certs/ca.pem
ssl-cert=/etc/certs/server-cert.pem
ssl-key=/etc/certs/server-key.pem
bind-address = *
secure-file-priv=NULL
require_secure_transport = ON
tls_version=TLSv1.2,TLSv1.3
